//这个文件做重置操作，包括uniapp的充值

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::before,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.uni-actionsheet{
	display: none;
}

.app-container{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	font-size: 32rpx;
}

.exclude-layout-container{
	overflow: hidden;
	width: 100%;
	height: 100%;
	// 添加底部安全距离
	// margin-bottom: calc(100rpx + constant(safe-area-inset-bottom)); //兼容 IOS<11.2
	// margin-bottom: calc(100rpx + env(safe-area-inset-bottom)); //兼容 IOS>11.2
	
	// // 如果不支持安全距离，直接使用高度固定
	// @supports not (margin-bottom: calc(100rpx + constant(safe-area-inset-bottom))) {
	// 	margin-bottom: 100rpx;
	// }
	
	margin-bottom: 100rpx;
}




